@import "./var.less";
@import "./el-base.less";

* {
  margin: 0;
  padding: 0;
}
body {
  color: var(--font-primary-color);
  font: 15px/1.5 "Lucida Grande", "Lucida Sans Unicode", Helvetica,
    "Microsoft JhengHei", "Microsoft YaHei", Tohoma, Arial;
  background-image: linear-gradient(#f5f5f5 1px, transparent 0),
    linear-gradient(90deg, #f5f5f5 1px, transparent 0);
  background-size: 30px 30px, 30px 30px;
  background-color: var(--mian-bg);
  --el-color-primary: var(--font-primary-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
img {
  border: none;
}
input,
button,
textarea,
select {
  *font-size: 100%;
  border: none;
}
ul,
ol {
  list-style: none;
  padding: 0;
}
a:link,
a:visited {
  color: rgb(94, 94, 94);
  color: var(--a-color);
  text-decoration: none;
}

a:hover {
  color: #000; /*text-decoration: underline;*/
  color: var(--a-hover-color);
}

.container {
  margin: auto;
  padding: 0 15px;
}
//最小码
.text-xs {
  font-size: 13px;
}
//小码
.text-sm {
  font-size: 15.6px;
}
//中
.text-md {
  font-size: 22.8px;
}
//大
.text-lg {
  font-size: 30px;
}
button,
input {
  outline: none;
}
// ::selection {
//   color: #fff;
//   background-color: var(--font-primary-color);
// }

@media screen and (min-width: 768px) {
  .container {
    width: 750px;
    .menu-list {
      display: none !important;
    }
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 900px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@font-face {
  font-family: "iconfont"; /* Project id 3113963 */
  src: url("//at.alicdn.com/t/font_3113963_6gkr6ldv84g.woff2?t=1641352317616")
      format("woff2"),
    url("//at.alicdn.com/t/font_3113963_6gkr6ldv84g.woff?t=1641352317616")
      format("woff"),
    url("//at.alicdn.com/t/font_3113963_6gkr6ldv84g.ttf?t=1641352317616")
      format("truetype");
}
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
#nprogress .bar {
  background: var(--font-primary-color) !important; //自定义颜色
}
#nprogress .spinner-icon {
  border-top-color: var(--font-primary-color) !important;
  border-left-color: var(--font-primary-color) !important;
}
.markdown-body {
  overflow-x: visible;
}
